<?xml version="1.0"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0">
    <servers>
        <server>
            <id>colvir-ms</id>
            <username>${env.COLVIR_MS_USER}</username>
            <password>${env.COLVIR_MS_PASSWORD}</password>
        </server>
        <server>
            <id>central-mirror</id>
            <username>${env.COLVIR_MS_USER}</username>
            <password>${env.COLVIR_MS_PASSWORD}</password>
        </server>
    </servers>
    <mirrors>
        <mirror>
            <id>central-mirror</id>
            <mirrorOf>central</mirrorOf>
            <url>https://nexus.colvir.ru/repository/maven-central</url>
        </mirror>
    </mirrors>
    <profiles>
        <profile>
            <id>colvir-profile</id>
            <repositories>
                <repository>
                    <id>colvir-ms</id>
                    <name>colvir-ms inner repository</name>
                    <url>https://nexus.colvir.ru/repository/colvir-ms</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                </repository>
            </repositories>
            <pluginRepositories>
                <pluginRepository>
                    <id>colvir-ms</id>
                    <name>colvir-ms inner repository</name>
                    <url>https://nexus.colvir.ru/repository/colvir-ms</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                </pluginRepository>
            </pluginRepositories>
        </profile>
    </profiles>
    <activeProfiles>
        <activeProfile>colvir-profile</activeProfile>
    </activeProfiles>
</settings>
